<?xml version='1.0' encoding='utf-8'?>
<widget id="com.infobip.mobilemessaging.cordova.example" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:android="http://schemas.android.com/apk/res/android" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>CordovaMobilePushDemo</name>
    <description>
        A sample Cordova mobile push demo.
    </description>
    <author email="push.support@infobip.com" href="https://infobip.com">
        Mobile Messaging Team
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="ios">
        <preference name="deployment-target" value="10.0" />
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <config-file parent="CFBundleURLTypes" platform="ios" target="*-Info.plist">
            <array>
                <dict>
                    <key>CFBundleTypeRole</key>
                    <string>Editor</string>
                    <key>CFBundleURLName</key>
                    <string>com.infobip.mobilemessaging.cordova.example</string>
                    <key>CFBundleURLSchemes</key>
                    <array>
                        <string>com.infobip.mobilemessaging</string>
                    </array>
                </dict>
            </array>
        </config-file>
    </platform>
    <platform name="android">
        <config-file parent="/manifest/application/activity[@android:name='MainActivity']" target="AndroidManifest.xml">
            <intent-filter>
                <data android:scheme="com.infobip.mobilemessaging" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </config-file>
    </platform>
</widget>
