# Installed node modules
/node_modules/

# JUnit reporter results
/test_results/

# Cordova Mobile Push Demo
/example/node_modules/
/example/plugins/
/example/platforms/

# IDEA
/example/.idea/
.idea/
