<?xml version='1.0' encoding='utf-8'?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
	xmlns:android="http://schemas.android.com/apk/res/android"
	id="com-infobip-plugins-mobilemessaging"
	version="0.3.2.1-dev1">
	
	<name>MobileMessagingCordova</name>
	<keywords>Infobip,push</keywords>
	<dependency id="cordova-plugin-add-swift-support"/>
	<dependency id="cordova-custom-config"/>

	<js-module name="mobileMessaging" src="www/MobileMessagingCordova.js">
		<clobbers target="mobileMessaging" />
	</js-module>
	
	<hook type="after_plugin_add" src="scripts/installDependencies.js"/>

	<platform name="ios">
		<config-file target="config.xml" parent="/*">
			<feature name="MobileMessagingCordova">
				<param name="ios-package" value="MobileMessagingCordova" />
				<param name="onload" value="true" />
			</feature>

			<!-- this entry is to set project deployment target -->
	        <preference name="deployment-target" value="8.4" />

	        <!-- this entry is to enable push notifications background mode (highly recommended for MobileMessaging SDK) -->
	        <config-file platform="ios" target="*-Info.plist" parent="UIBackgroundModes">
	            <array>
	                <string>remote-notification</string>
	            </array>
	        </config-file>
		</config-file>

		<hook type="before_build" src="scripts/fixEntitlementsBuildSetting.js"/>
		<hook type="before_run" src="scripts/fixEntitlementsBuildSetting.js"/>
		<framework src="libs/ios/MobileMessaging.framework" custom="true" embed="true"/>
		<source-file src="src/ios/MobileMessagingCordova.swift" />
	</platform>
	
	<platform name="android">
		<config-file target="config.xml" parent="/*">
			<feature name="MobileMessagingCordova">
				<param name="android-package" value="org.apache.cordova.plugin.MobileMessagingCordova"/>
			</feature>
		</config-file>

		<config-file target="AndroidManifest.xml" parent="/manifest/application">
		    <receiver android:name="org.apache.cordova.plugin.MobileMessagingCordova$MessageActionReceiver" android:exported="false">
	            <intent-filter>
	                <action android:name="org.infobip.mobile.messaging.MESSAGE_RECEIVED" />
	                <action android:name="org.infobip.mobile.messaging.NOTIFICATION_TAPPED" />
	            </intent-filter>
	        </receiver>
		</config-file>
		
		<framework src="src/android/mobile-messaging-aar.gradle" custom="true" type="gradleReference" />
		<source-file src="src/android/MobileMessagingCordova.java" target-dir="src/org/apache/cordova/plugin"/>
	</platform>
	
</plugin>
