* {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    margin: 0;
    padding: 0;
}

html {
    width: 100%;
    height: 100%;
}

body {
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: none;
    -webkit-user-select: none;
    font-family: 'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, 'sans-serif';
    font-size: 11px;
    height: 100%;
    width: 100%;
}

.app {
    position: relative;
    width: 100%;
    height: 100%;
}

/* head */

.app > .head {
    height: 50px;
    text-align: center;
    background-color: #F07D00;
    color: #FFFFFF;
}

.app > .head > .title {
    line-height: 50px;
    font-weight: bold;
    font-size: 14px;
}

/* content */

.app > .content {
    position: absolute;
    left: 0;
    right: 0;
    top: 50px;
    bottom: 50px;
    height: auto;
    background-color: #FFFFFF;
    border-top: 1px solid #7A94A6;
    border-bottom: 1px solid #7A94A6;
    overflow: scroll;
}

.app > .content > .screen {
    margin: 15px;
}

/* navigation */

.app > .navi {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 50px;
    background-color: #FFFFFF;
    color: #7A94A6;
}

.app > .navi .navi-button {
    height: 50px;
    display: inline-block;
    text-align: center;
}

.app > .navi .navi-button.active {
    color: #F07D00;
}

/* common */

.template, .hidden {
    display: none;
}

form .title {
    display: none;
}

.dialog-busy {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;
    height: auto;

}

.dialog-busy > .content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.dialog-busy > .content > .loading {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: transparent url("../img/ajax-loader.gif") center center no-repeat;
}

.dialog-busy > .bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: #C0C0C0;
    opacity: 0.5
}

/* components */

.list {
    list-style: none;
}

.list > .list-item {
    line-height: 1.2em;
    height: 3.6em;
    border-bottom: 1px solid #7A94A6;
    overflow: hidden;
    padding-top: 10px;
    padding-bottom: 5px;
}

.list > .list-item:first-of-type {
    /*border-top: none;*/
    /*padding-top: 0;*/
}

/* message list */

.list > .list-item > .message {
    width: 70%;
    margin-left: 5px;
    font-size: 14px;
    overflow: hidden;
}

.list > .list-item > .button-right {
    float: right;
    margin-left: 15px;
    height: 100%;
    color: #3D5869;
    margin-right: 5px;
}

.list > .list-item > .time {
    float: right;
    margin-left: 15px;
    /*margin-top: 3px;*/
    color: #3D5869;
}

.app > .content > .screen.inbox {
    margin-top: 0;
}

/* inbox-screen */

.app > .content > .screen.inbox > .no-messages {
    display: none;
    margin-top: 100px;
    text-align: center;
}

.app > .content > .screen.inbox.empty > .no-messages {
    display: block;
}

/* settings-screen */

.app > .content > .screen.settings form h3 {
    color: #F07D00;
    border-bottom: 1px solid #7A94A6;
    margin-top: 15px;
    padding-bottom: 3px;
}

.app > .content > .screen.settings form h3:first-of-type {
    margin-top: 0;
}

.app > .content > .screen.settings form input {
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #C0C0C0;
    padding: 2px 5px;
}

.app > .content > .screen.settings form input.changed {
    font-weight: bold;
}

.app > .content > .screen.settings form .field {
    margin-top: 10px;
}

.app > .content > .screen.settings form button {
    padding: 5px 20px;
}

/* effects */

@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {

}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
