<?xml version='1.0' encoding='utf-8'?>
<plugin id="com-infobip-plugins-mobilemessaging" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>MobileMessagingCordova</name>

	<dependency id="cordova-plugin-cocoapod-support"/>

    <js-module name="MobileMessagingCordova" src="www/MobileMessagingCordova.js">
        <clobbers target="MobileMessagingCordova" />
    </js-module>
    <platform name="ios">
		<config-file target="config.xml" parent="/*">
    		<feature name="MobileMessagingCordova">
				<param name="ios-package" value="MobileMessagingCordova" />
			</feature>
		</config-file>

		<pods-config ios-min-version="8.0" uses-frameworks="true"/>
		<pod id="MobileMessaging" git="https://github.com/infobip/mobile-messaging-sdk-ios.git" configurations="release,debug"/>

		<source-file src="src/ios/MobileMessagingCordova.swift" />

	</platform>
</plugin>
